/* App */
html[dir="ltr"] .app {
  margin-right: 0.125rem !important;
}

html[dir="rtl"] .app {
  margin-left: 0.125rem !important;
}

/* Login */
#__card0-contentSection {
  display: block !important;
}

.outer {
  display: table !important ;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.middle {
  display: table-cell !important;
  vertical-align: middle !important;
}

.inner {
  margin-left: auto !important;
  margin-right: auto !important;
}

#__data3 {
  text-align: center !important;
}
.img{
  background-color: #0f8d7f;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3140/3140341.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat; 
}